{% extends 'poll/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <div class="create-field container">
        <h1>create poll</h1>
        {% if error %}
        <div class="">
            <h3>{{error}}</h3>
        </div>
        
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{formset.management_form}}
            {{form}}
        
        <div class="row form-row spacer input-group ">
            
        
            {% for form_data in formset %}
    
            {{form_data.name}}
    
            <button class="remove-form-row btn btn-danger" id="{{formset.prefix}}">Delete</button>
            {% endfor %}
            <br>
            
        </div>
    

    <div class="row add-more-btn">
        <button class="add-form-row btn btn-info " id="{{formset.prefix}}" type="button">Add more</button>
    
    </div>

    <div class="row">

        <button type="submit" class="postBtn-custom btn btn-primary">Post</button>

    </div>
</div>
        
        </form>

        
    
</body>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script>

  <script src="{% static 'js/app.js' %}"></script>
</html>
{% endblock %}