{% extends 'poll/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% for poll in polls %}
    <div class="card border-style">
        
            <h1 class="card-title">{{poll.poll_question}}</h1>
        
        
        <div class="card-body poll-home-detail">
            <p class="card-subtitle text-muted">by {{poll.user.username}}</p>
            <p class="card-subtitle text-muted">{{poll.poll_date}}</p>
        </div>
        
        <div class="card-body poll-home-detail">
            <h4 class="card-subtitle text-muted">Number of options:  {{poll.option_number}}</h4>
        
        
            <form action="{% url 'polldetail' poll.id %}" method="post">
                {% csrf_token %}  
                <button type="submit" class="btn btn-primary btn-lg">vote</button>
            </form>

        </div>

        
    </div>
    {% endfor %}
</body>
</html>

{% endblock %}