<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="card border-style">
        
        <h1 class="card-title">{{poll.poll_question}}</h1>
        {% if not display %}
        <div class="input-group">
            <form action="" method="POST">
                {% csrf_token %}
            {% for option in options %}
            <label class="input-group-text p radio-div">
                <input type="radio" id="{{option.id}}" name="vote-option" value="{{option.id}}"> 
                <div class="radio-group">
                    {{option.name}}
                </div>
            </label>
            
                
            {% endfor %}

        </div>
        
        <button type="submit" class="btn btn-primary btn-lg">vote</button>
    </form>
    
    {% else %}
    
    <div class="card-body">
        

        {% for option in options %}
            <li>{{option.name}} - {{option.votes}}</li>
        {% endfor %}

    </div>

    {% endif %}

    
    </div>

    <a href="{% url 'home' %}">back</a>
</body>
</html>