.poll-card {


    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px gray;
    padding: 2rem;
    width: 40%;
    margin: 1rem;

}


.vote-bar {

    background-color: black;
    padding: 1rem;
    
}